@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.header__upper {
  width: 100%;
  height: 100vh;
  padding: 40px;
  background-image: url(../images/header-cuba-comp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 520px) {
  .header__upper {
    height: 350px;
    padding: 20px;
  }
}

.header__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border: 1px solid #ecb84c;
  border-bottom: none;
}

@media screen and (max-width: 520px) {
  .header__frame {
    height: 300px;
  }
}

.header__main-heading {
  margin: auto;
  font-family: Georgia;
  font-weight: 700;
  font-size: 12.5rem;
  line-height: 14rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media screen and (max-width: 650px) {
  .header__main-heading {
    font-size: 9rem;
  }
}

@media screen and (max-width: 520px) {
  .header__main-heading {
    font-size: 6.25rem;
  }
}

.header__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -13.5px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  white-space: nowrap;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media screen and (max-width: 650px) {
  .header__slogan {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 520px) {
  .header__slogan {
    font-size: .875rem;
  }
}

@media screen and (max-width: 365px) {
  .header__slogan {
    font-size: .65rem;
  }
}

.header__slogan::before, .header__slogan::after {
  content: '';
  width: 100%;
  border-top: 1px solid #ecb84c;
}

.header__slogan::before {
  margin-right: 30px;
}

.header__slogan::after {
  margin-left: 30px;
}

.header__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 20px 18px;
  border-bottom: 1px solid #d0d4d8;
  text-align: center;
}

@media screen and (max-width: 716px) {
  .header__lower {
    padding-bottom: 0;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 716px) {
  .header__menu-item {
    margin-bottom: 20px;
  }
}

.header__menu-link {
  padding: 24px 20px 16px;
  border-bottom: 4px solid transparent;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2rem;
  color: #909090;
}

@media screen and (max-width: 716px) {
  .header__menu-link {
    border-bottom: none !important;
  }
}

.header__menu-link:hover {
  border-bottom: 4px solid #ecb84c;
  color: #4e5665;
}

.benefit {
  padding-top: 85px;
}

@media screen and (max-width: 768px) {
  .benefit {
    padding-top: 50px;
  }
}

.benefit__container {
  max-width: 1170px;
  padding-right: 100px;
  padding-left: 100px;
  border-bottom: 1px solid #d0d4d8;
}

@media screen and (max-width: 1170px) {
  .benefit__container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 520px) {
  .benefit__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.benefit__heading {
  text-align: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #4e5665;
}

@media screen and (max-width: 768px) {
  .benefit__heading {
    font-size: 1.5rem;
  }
}

.benefit__text {
  margin-top: 22px;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #505050;
}

@media screen and (max-width: 1175px) {
  .benefit__text {
    margin-bottom: 15px;
  }
}

.benefit__readmore {
  display: block;
  text-align: end;
  font-family: Lato;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #ecb84c;
}

.benefit__readmore::after {
  content: '››';
}

.benefit__feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 810px;
  margin: 36px auto 80px;
}

@media screen and (max-width: 356px) {
  .benefit__feature-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .benefit__feature {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .benefit__feature:first-child, .benefit__feature:nth-child(2) {
    margin-bottom: 20px;
  }
}

.benefit__pic {
  width: 80px;
  height: 80px;
}

.benefit__counter {
  display: block;
  text-align: center;
  margin-top: 32px;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 2rem;
  color: #4e5665;
}

.benefit__feature-heading {
  display: block;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1rem;
  color: #909090;
}

.about {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1170px) {
  .about__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 520px) {
  .about__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about__heading {
  text-align: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 2rem;
  line-height: 38px;
  color: #4e5665;
}

@media screen and (max-width: 768px) {
  .about__heading {
    font-size: 1.5rem;
  }
}

.about__text {
  margin-top: 13px;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #505050;
}

.about__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

@media screen and (max-width: 990px) {
  .about__upper, .about__lower {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 32px;
  }
}

.about__upper-info::before {
  content: '';
  position: absolute;
  top: 19px;
  left: 19px;
  width: 33px;
  height: 33px;
  background-image: url("../images/left-upper-angle-comp.png");
}

.about__upper-info::after {
  content: '';
  position: absolute;
  right: 19px;
  bottom: 19px;
  width: 33px;
  height: 33px;
  background-image: url("../images/right-lower-angle-comp.png");
}

.about__lower-info::before {
  content: '';
  position: absolute;
  left: 19px;
  bottom: 19px;
  width: 33px;
  height: 33px;
  background-image: url("../images/left-lower-angle-comp.png");
}

.about__lower-info::after {
  content: '';
  position: absolute;
  right: 19px;
  top: 19px;
  width: 33px;
  height: 33px;
  background-image: url("../images/right-upper-angle-comp.png");
}

.about__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

@media screen and (max-width: 990px) {
  .about__lower {
    margin-top: 25px;
  }
}

.about__info-heading {
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #4e5665;
}

.about__info-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #505050;
}

.about_upper-img {
  margin-left: -70px;
}

@media screen and (max-width: 990px) {
  .about_upper-img {
    text-align: center;
  }
}

.about_lower-img {
  margin-right: -70px;
}

@media screen and (max-width: 990px) {
  .about_lower-img {
    margin-right: 0;
  }
}

.about__info {
  position: relative;
  width: 470px;
  padding: 35px 40px 35px;
  background-color: #fff;
  z-index: 1;
}

@media screen and (max-width: 990px) {
  .about__info {
    width: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media screen and (max-width: 500px) {
  .about__info {
    padding: 30px;
  }
}

.about__info-text {
  margin-top: 20px;
}

.about__img {
  width: 570px;
  height: 428px;
}

@media screen and (max-width: 990px) {
  .about__img {
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 768px) {
  .about__img {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .about__img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 335px) {
  .about__img {
    width: 250px;
    height: 200px;
  }
}

.artefact {
  padding-top: 120px;
}

@media screen and (max-width: 990px) {
  .artefact {
    padding-top: 50px;
  }
}

.artefact__container {
  max-width: 1170px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d0d4d8;
  margin: 0 auto;
}

@media screen and (max-width: 990px) {
  .artefact__container {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .artefact__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 520px) {
  .artefact__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.artefact__heading {
  text-align: center;
  margin-bottom: 110px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #4E5665;
}

@media screen and (max-width: 990px) {
  .artefact__heading {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .artefact__heading {
    margin-bottom: 50px;
    font-size: 1.5rem;
  }
}

.artefact__car {
  position: relative;
  max-width: 1170px;
  height: 330px;
  -webkit-box-shadow: 0px 20px 13px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 13px -20px rgba(0, 0, 0, 0.5);
  background-image: url("../images/car-comp.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .artefact__car {
    height: 150px;
    margin: 0 auto;
    background-size: contain;
    background-position: center 0;
  }
}

@media screen and (max-width: 650px) {
  .artefact__car {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 500px) {
  .artefact__car {
    background-size: cover;
    background-position: 0 0;
  }
}

.artefact__car-point {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #ECB84C;
  opacity: 0.75;
}

@media screen and (max-width: 1015px) {
  .artefact__car-point {
    display: none;
  }
}

.artefact__car-point-1 {
  top: 180px;
  left: 0;
}

.artefact__car-point-2 {
  top: 180px;
  left: 460px;
}

.artefact__car-point-3 {
  top: 140px;
  right: 310px;
}

@media screen and (max-width: 1190px) {
  .artefact__car-point-3 {
    display: none;
  }
}

.artefact__car-point-core {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #FFD600;
}

.artefact__car-point::after {
  content: '';
  position: absolute;
  display: none;
  width: 325px;
  height: 210px;
  background-image: url("../images/show-line-comp.png");
  background-repeat: no-repeat;
}

.artefact__car-point-1:hover::after {
  display: block;
  top: -150px;
  left: 30px;
}

.artefact__car-point-2:hover::after {
  display: block;
  top: -150px;
  left: 30px;
}

.artefact__car-point-3:hover::after {
  display: block;
  top: -150px;
  left: 30px;
}

.artefact__car-point::before {
  position: absolute;
  display: none;
  color: #505050;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2.4rem;
}

.artefact__car-point-1:hover::before {
  content: 'Ретро дизайн';
  display: block;
  width: 180px;
  top: -190px;
  left: 220px;
}

.artefact__car-point-2:hover::before {
  content: 'Яркий цвет';
  display: block;
  width: 180px;
  top: -190px;
  left: 220px;
}

.artefact__car-point-3:hover::before {
  content: 'Откидная крыша';
  display: block;
  width: 180px;
  top: -190px;
  left: 190px;
}

.artefact__text {
  margin-top: 70px;
  color: #505050;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 1170px) {
  .artefact__text {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 520px) {
  .artefact__text {
    padding-left: 0;
    padding-right: 0;
  }
}

.photo {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 990px) {
  .photo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1170px) {
  .photo__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 520px) {
  .photo__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.photo__heading {
  text-align: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #4E5665;
}

@media screen and (max-width: 768px) {
  .photo__heading {
    font-size: 1.5rem;
  }
}

.photo__text {
  margin-top: 42px;
  margin-bottom: 48px;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #505050;
}

.photo__decor-line {
  width: 270px;
  height: 1px;
  margin: 0 auto 56px;
  background-color: #D0D4D8;
  opacity: .5;
}

.photo__carousel {
  width: 640px;
  height: 480px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
}

.photo .swiper-btn-container {
  position: relative;
  width: 640px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .photo .swiper-btn-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .photo .swiper-container {
    width: 400px;
    height: 300px;
    background-size: cover;
  }
  .photo .swiper-slide-img {
    width: 400px;
    height: 300px;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .photo .swiper-container {
    width: 280px;
    height: 210px;
  }
  .photo .swiper-slide-img {
    width: 280px;
    height: 210px;
  }
}

@media screen and (max-width: 335px) {
  .photo .swiper-container {
    width: 260px;
    height: 195px;
  }
  .photo .swiper-slide-img {
    width: 260px;
    height: 195px;
  }
}

.photo .swiper-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ecb84c;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.photo .swiper-btn::after {
  display: none;
}

.photo .swiper-button-prev {
  top: 240px;
  left: -20px;
  background-image: url(../images/left-arrow-comp.png);
}

.photo .swiper-button-next {
  top: 240px;
  right: -20px;
  background-image: url(../images/right-arrow-comp.png);
}

.footer {
  padding-top: 55px;
  padding-bottom: 32px;
  background-color: #f8f8f8;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 990px) {
  .footer__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 850px) {
  .footer__item {
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

.footer__heading {
  font-family: Lato;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #4E5665;
}

.footer__list {
  margin-top: 20px;
}

.footer__list-item {
  margin-bottom: 20px;
}

.footer__list-item--message::before {
  content: url("../images/message-comp.png");
  vertical-align: middle;
}

.footer__list-item--fb::before {
  content: url("../images/fb-comp.png");
  vertical-align: middle;
}

.footer__list-item--inst::before {
  content: url("../images/inst-comp.png");
  vertical-align: middle;
}

.footer__list-item--youtube::before {
  content: url("../images/youtube-comp.png");
  vertical-align: middle;
}

.footer__list-item--email::before {
  content: url("../images/email-comp.png");
  vertical-align: middle;
}

.footer__list-link {
  font-family: Lato;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #505050;
}

.footer__contacts-list-link {
  padding-left: 10px;
}

.footer__copyright {
  text-align: center;
  margin-top: 40px;
  font-family: Lato;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #505050;
}
/*# sourceMappingURL=index.css.map */