html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  @include font($primary-font, $primary-weight);
  
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  object-fit: contain;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}
